<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Tarefas em progresso">
      <mat-grid-list *ngIf="taskInProgress.length !== 0; else noTasks" [cols]="breakpoint" rowHeight="180">
        <div *ngFor="let task of taskInProgress">
          <mat-grid-tile>
            <mat-card>
              <mat-card-subtitle>
                <span>
                  {{ task.creationDate | date: "dd/MM/yyyy"}}
                </span>
              </mat-card-subtitle>
              <mat-card-title>{{ task.nameTask }}</mat-card-title>
              <mat-card-content>
                <p>{{ task.description }}</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button (click)="completedTask(task)" mat-button>Concluída</button>
                <button (click)="deleteTask(task)" mat-button>Excluir</button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Tarefas vencidas">
      <mat-grid-list *ngIf="taskVencidas.length !== 0; else noTasks" [cols]="breakpoint" rowHeight="180">
        <div *ngFor="let task of taskVencidas">
          <mat-grid-tile>
            <mat-card>
              <mat-card-subtitle>
                <span>
                  {{ task.creationDate | date: "dd/MM/yyyy"}}
                </span>
              </mat-card-subtitle>
              <mat-card-title>{{ task.nameTask }}</mat-card-title>
              <mat-card-content>
                <p>{{ task.description }}</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button (click)="completedTask(task)" mat-button>Concluída</button>
                <button (click)="deleteTask(task)" mat-button>Excluir</button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Tarefas completas">
      <mat-grid-list *ngIf="taskCompleted.length !== 0; else noTasks" [cols]="breakpoint" rowHeight="180">
        <div *ngFor="let task of taskCompleted">
          <mat-grid-tile>
            <mat-card>
              <mat-card-subtitle>
                <span>
                  {{ task.creationDate | date: "dd/MM/yyyy"}}
                </span>
              </mat-card-subtitle>
              <mat-card-title>{{ task.nameTask }}</mat-card-title>
              <mat-card-content>
                <p>{{ task.description }}</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button disabled mat-button>Concluída</button>
                <button (click)="deleteTask(task)" mat-button>Excluir</button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template class="text-center" #noTasks>
  <h2 class="text-center mt-2 mx-3">
    <mat-card>Não há tarefas </mat-card>
  </h2>
</ng-template>
