back/.metadata/
back/teste/.classpath
back/teste/.gitignore
back/teste/.project
back/teste/.settings/org.eclipse.core.resources.prefs
back/teste/.settings/org.eclipse.jdt.core.prefs
back/teste/src/module-info.java
back/teste/src/teste/teste.java

.metadata/
front/toDo/package-lock.json
