<div class="container d-flex flex-row justify-content-center mt-3">
  <mat-card class="p-3" style="width: 350px;">
    <mat-card-title class="mb-3">Nova task</mat-card-title>
    <mat-card-content>
      <form class="d-flex flex-column" [formGroup]="newTaskForm">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Titulo da tarefa</mat-label>
          <input [formControlName]="'nameTask'" matInput placeholder="Nome da tarefa">
          <mat-hint>O titulo desta tarefa</mat-hint>
        </mat-form-field>

        <mat-form-field class="w-100 mt-2" appearance="outline">
          <mat-label>Descrição</mat-label>
          <input [formControlName]="'description'" matInput placeholder="descrição da tarefa">
          <mat-hint>Digite a descrição da tarefa</mat-hint>
        </mat-form-field>

        <mat-form-field class="w-100 mt-2" appearance="outline">
          <mat-label>Data de vencimento</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>Digite a data de vencimento</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </form>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button (click)="createTask()" mat-button >CRIAR TASK</button>
      <button (click)="cancel()" mat-button >CANCELAR</button>
    </mat-card-actions>
  </mat-card>
</div>
